html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width:100%;
    height: auto;
background-image:url(../images/background.jpg);
background-repeat: no-repeat;
background-size:cover;
background-attachment: fixed;

font-size: 16px;
}

.header{
    text-align:center;
    padding: 40px 20px;
     background-color: rgba(255, 255, 255, 0.3);
}
 
header img{
    width: 200px;
    height: 240px;
    border-radius: 50% 50%;
    object-fit: cover;
    margin:40px auto 20px auto;
     display:block;
 
}
header h1 {
    font-size:32px;
    margin-top:30px;
    text-align:center;
    background-color: rgba(255, 255, 255, 0.2);
}
.slogan {
    font-size:18px;
    font-style:italic;
    opacity:0.9;
    text-align:center;
    background-color: rgba(255, 255, 255, 0.4);
   
}
main p {
    background-color: rgba(255, 255, 255, 0.2);
}

h3{
    font-size: 24px;
    margin-top: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
}
.profile-section{
  display:flex;
  align-items: center;
  gap:30px;
  margin-top: 20px;
  
}
.profile-section img{
    width: 200px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.profile-info{
     flex:1;
   background-color: rgba(255, 255, 255, 0.2);  
}

footer{
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
} 



@media (max-width: 768px) {
    
     main{
        margin: 0 auto;
        padding: 20px;}
    .profile-section{
        flex-direction: column;
        align-items: center;
    }
    .profile-section img{
        width: 100%;
        height: auto;
    }
    .profile-info{
        text-align: center;
    }
}

